#f1  {
    width: 550px!important;
    overflow: hidden!important;
    margin: 10px auto!important;
    border-style: solid!important;
    position: relative!important;
    border-color: #990033!important;
    -webkit-resize:vertical!important; 
    -moz-resize:vertical!important;
    resize:vertical!important;
    min-height:250px!important;
 
   
}
#f2 {
    margin-top: -800px!important;
    margin-left:-230px!important;
    margin-bottom: -120px!important;
    width: 760px!important;
    height: 1250px!important;
     -webkit-resize:vetical!important;
    -moz-resize:vertical!important;
    resize:vertical!important;
    overflow:hidden!important;
    overflow-x: hidden!important;
}