#my-div  {
    max-width: 690px!important;
    overflow: hidden!important;
    margin: 10px auto!important;
    border-style: solid!important;
    position: relative!important;
    border-color: #990033!important;
    -webkit-resize: vertical!important; 
    -moz-resize: vertical!important;
    resize: vertical!important;
    min-height: 317px!important;
    
   
}
/* 16x9 Aspect Ratio */
#my-div-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
#my-div-4x3 {
  padding-bottom: 75%;
}
#myframe,object,embed {
    margin-top: -250px!important;
    margin-left: 0px!important;
    margin-bottom: -150px!important;
    width: 690px!important;
    height: 880px!important;
    -webkit-resize:vetical!important;
    -moz-resize:vertical!important;
    resize:vertical!important;
     overflow:hidden!important;
     overflow-x: hidden!important;
     
     -moz-transform-scale(0.5)!important;
    
}
.wrapper {
    width: 100%!important;
    height: 100%!important;
    margin: 0 auto!important;
    background: #ffffff!important;
}