// Insert your styling here.


#block-system-main {

  #node-35 {
    h2 a {
      color: @color;
      text-decoration: none;
      font-weight: @font-weight-semibold;
      font-size: @font-size-big;

    }
    span {
      color: @fontcolor;
    }
  }
.col-sm-6 h1 {
  font-size: @font-size-big;
  font-weight: @font-weight-regular;
  color: @fontcolor;
}

  .field-label {
    background-color: @sidebarcolor;
  }

  .field-items {
    color: @color;
    font-weight: @font-weight-regular;
    margin-bottom: 18px;
    a:hover {
      color: @link-hover-color;
    }
    a:focus {
      outline: none;
    }
  }
  img {
    border: none;
    border-radius: 0px;
    padding: 0px;
    height: auto;
    display: inline-block;
  }

}
/*-- highlight theming --*/

#block-block-26 {
  margin-bottom: -18px;
  margin-top: 20px;
  h2 {
    font-weight: @font-weight-regular;
    font-size: @font-size-medium;
    color: @fontcolor;
    margin-top: 25px;
  }
  .social-list {
    list-style-type: none;
    font-size: 0px;
    float: right;
    padding-top: 0px;
    margin-top: -45px;
    margin-bottom: 0px;
    margin-right: -10px;
    margin-left: -30px;
    width: 100%;
    height: auto;
    display: inline-flex;
    .twitter {
      background: url("/sites/default/files/csg-53c9167ea4a57.png") repeat scroll 0px 151px rgba(0, 0, 0, 0);
      height: 85px;
      width: 50px;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .facebook {

      background: url("/sites/default/files/csg-53c9167ea4a57.png") repeat scroll 0px -99px rgba(0, 0, 0, 0);
      height: 85px;
      width: 50px;
    }
    .google-plus {
      background: url("/sites/default/files/csg-53c9167ea4a57.png") repeat scroll 0 -198px rgba(0, 0, 0, 0);
      height: 85px;
      width: 50px;
    }
    .rss {

      background: url("/sites/default/files/csg-53c9167ea4a57.png") repeat scroll 0 -599px rgba(0, 0, 0, 0);
      height: 85px;
      width: 50px;
    }
    .linkin {

      background: url("/sites/default/files/csg-53c9167ea4a57.png") repeat scroll 0 -299px rgba(0, 0, 0, 0);
      height: 85px;
      width: 50px;
    }
  }

}
/*----section thming ---*/

.col-sm-6 {

  h1 {
    font-weight: @font-weight-regular;
    font-size: @font-size-big;
  }
}
.container .jumbotron {
  padding-left: 0;
  padding-right: 0;
  border: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.field-label a {
  font-size: @font-size-medium;
  font-weight: @font-weight-regular;
  color: @fontcolor;

}

.field-items a {
  color: @fontcolor;
  text-decoration: none;
}

.views-slideshow-cycle-main-frame {
  width: 100% !important;
}
.views-slideshow-cycle-main-frame-row {
  position: relative !important;
}
.views-slideshow-cycle-main-frame-row, .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto !important;
}

#views_slideshow_cycle_teaser_section_home_slide_show2-block {
  width: 100% !important;
}

#views_slideshow_cycle_div_home_slide_show2-block_0 {
  position: relative !important;
}
.flexslider .slides img {
  width: 100%!important;
  height:auto!important;
}

.views-field-field-flexslider-example-image img {

  width: 100%!important;
  height:auto!important;
}



#block-views-home-slide-show2-block {


  .devel-themer-wrapper {
    font-size: 0px;
  }




}
#flex-title {

    font-size: @font-size-medium;
    font-weight: @font-weight-semibold;
    color: @fontcolor;
    text-decoration: none !important;


   :hover {
    color: @link-hover-color;
    text-decoration: none !important;
  }
  :focus {
    text-decoration: none !important;
    color: transparent;
  }
}

.divider {
  color: @fontcolor;
  font-size: @font-size-medium;
  width: 30%;
}

#flex-author {
  color: @gray-lighter;
  font-size: @font-size-base;
  margin: 0px;
  width: 30%;
}

#flex-date {
  font-size: @font-size-base;
  color: @gray-lighter;
  margin: 0px;
  width: 30%;
}
#flex-tag {
  color: @fontcolor;
  font-size: @font-size-base;
  font-weight: @font-weight-semibold;
  width: 30%;
  display: inline-block;
  margin: 0px;
  padding: 0px;

}
.field-content {
  font-size: @font-size-medium;
  color: @fontcolor;
}

p {
  margin: 0px;
}