@font-size: 14px;
@basecolor: #3586d8;
@lighterColor: #409fff;
@darkerColor: #163859;


.footer-bottom {
  margin: auto;
  width: 100%;		// define our width to not take up the whole area
  max-width: 1150px;	// width must be no greater than this value
  min-width: 350px;// minimum width for our container
  max-height: 1090px;
}


#mytab  {
  background: #000000;
  height: auto;
  padding: 0px;
  margin-top: 0px 10px;
  color: #B5B5B5;
}

#mytab li {
 margin-left: 0px;
 margin-right: 0px;
  float: left;
  margin-top: 5px;
  list-style: url(none) none outside;
  font-size: @font-size;
  padding: 10px 28px 10px;

}
#mytab li a, #mytab li a:visited  {
  padding: 2px;
  decoration: none;
  text-decoration: none;
  color: #B5B5B5;
  font-weight: bold;

  position: relative;
  text-transform: uppercase;
  border-left: 2px solid #444444;
  border-right: 2px solid #020202;
  border: none;
}

#mytab li a:hover {
  color: #000000;
  background-color: #CCC;
}
#footer-one, #footer-two, #footer-four {
  float: left;
  margin-right: 51px;
  width: 329px;
}
.follow-us li {
  list-style-type: none;
}
.follow-us {
  display: table-row-group;

  margin-left: 0px;
}