@font-size: 14px;
@basecolor: #3586d8;
@lighterColor: #409fff;
@darkerColor: #163859;


.footer-bottom {
  margin: auto;
  width: 100%;		// define our width to not take up the whole area
  max-width: 1150px;	// width must be no greater than this value
  min-width: 350px;// minimum width for our container
  max-height: 1090px;
}



#footer-one, #footer-two, #footer-three {
  float: left;
  margin-top: -10px;
  margin-right: 0px;
  width: 309px;

}


#block-block-19 {
  margin-right: -10px;
  h4 {
    font-size: 18px;
    font-weight: 400;
    background-color: #000000;
    color: #b5b5b5;
    margin-left: 9px;
  }
  p {
    font-weight: 400;
    font-size: 12px;
  }

}

#block-block-20 {
  margin-right: 10px;
  margin-left: 50px;
  h4 {
    font-size: 18px;
    font-weight: 400;

    background-color: #000000;
    color: #b5b5b5;

  }
ol {

  li a {
    text-decoration: none;
    color: #227d9a;
    font-weight: 400;
    font-size: 12px;
  }
  a:hover {
    color: #00008b;
  }
  }

}


#block-block-22 {
  margin-left: 50px;

  h4 {
    background-color: #000000;
    font-size: 18px;
    font-weight: 400;
    color: #b5b5b5;
  }
  .social-media {
      list-style-type: none;
    margin-top: 10px;
    height: auto;
   a {
     color: #227d9a;
     font-size: 12px;
     font-weight: bold;
     text-transform: uppercase;
     list-style-type: none;
     text-decoration: none;
     display: inline-block;

   }
    a:focus {
      outline: none;
    }
    span {
      background: url("/sites/default/files/csg-53ca37e114c57.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
      display: inline-block;
      height: 32px;
      margin-right: 11px;
      width: 32px;

    }
    .twitter {
      background-position: -246px 0;
    }
    .linkedin {
      background-position: -165px 0;
    }
    .facebook {
      background-position: -277px 0;
    }
    .mail {
      background-position: -82px 0;
    }
  }



}

#copyright {

p {
  font-weight: 400;
  margin-bottom: 5px;

}

a {
  text-decoration: none;
  color: #227d9a;
}

}