body {
  font-family: 'PT Sans', sans-serif;
  background: linear-gradient(to right, #e4f5fc 0%, #eef7fd 100%);
}
.site-logo {
  display: table-cell;
  vertical-align: middle;
}
.site-logo img {
  max-height: 100px;
  max-width: 100%;
  border: 0px !important;
  background-color: transparent;
  outline: none !important;
  border: none;
  border-radius: 0px;
  display: inline-block;
  height: auto;
  padding: 1px;
  transition: all 0.2s ease-in-out 0s;
}
.site-name,
#site-slogan {
  color: inherit;
  font-family: inherit;
  line-height: 1;
  text-rendering: optimizelegibility;
}
.site-name {
  font-size: 32px;
  font-weight: 700;
}
#site-slogan {
  font-size: 18px;
  line-height: 1.1em;
  margin-top: 0.3em;
}
.site-name a {
  color: #333333;
  text-decoration: none;
}
.site-name a {
  color: #000000;
}
#name-and-slogan {
  display: table-cell;
  padding: 20px 0 20px 10px;
  vertical-align: middle;
  width: 100%;
}
.header-logo {
  background: linear-gradient(to bottom, #0678be, #ffffff);
  max-width: 1400px;
  margin-left: 0px;
}
.navbar-default .navbar-toggle {
  float: left;
}
.block-menu ul li {
  font-size: 12px;
  display: inline-block;
  position: relative;
}
#block-menu-menu-userheads {
  background-color: #022439;
  height: 30px;
  width: 50%;
  float: right;
  padding-top: 0px;
  margin-top: -20px;
}
#block-menu-menu-userheads .nav {
  float: right;
}
#block-menu-menu-userheads .nav a {
  font-weight: 400 !important;
  font-size: 11px !important;
  font-style: normal !important;
  color: #ffffff;
}
#block-menu-menu-userheads .nav .first {
  height: 30px;
  margin-top: 0px;
  background-color: #022439 !important;
  margin-right: 10px;
  padding: 0px;
}
#block-menu-menu-userheads .nav .leaf {
  background-color: darkgray;
  height: 30px;
  margin-left: -5px;
  margin-right: 0px;
}
#block-menu-menu-userheads .nav .last {
  height: 30px;
  background-color: red;
  margin-left: -5px;
}
#block-menu-menu-userheads .nav a:hover {
  background-color: transparent;
}
#block-menu-menu-userheads .nav a:focus {
  outline: none;
  color: transparent;
}
#block-menu-menu-facebook {
  background-color: #022439;
  width: 50%;
  float: left;
  margin-top: -20px;
  height: 30px;
}
#block-menu-menu-facebook ul .first {
  font-size: 0px;
  background: url('/sites/default/files/fb-white.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 0px;
  margin-left: 2px;
  max-width: 100%;
}
#block-menu-menu-facebook ul .last {
  font-size: 0px;
  background: url('/sites/default/files/tw-white.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 0px;
  margin-left: -10px;
  max-width: 100%;
}
#block-menu-menu-facebook ul a:hover {
  background-color: transparent;
}
#block-menu-menu-facebook ul a:focus {
  outline: none;
  color: transparent;
}
.container .navbar-collapse {
  background-color: #64B8ED !important;
  max-width: 1100px;
  border-bottom: 2px solid #53B0EB;
  border-top: 1px dotted #53B0EB;
  font-weight: bold;
  height: 35px;
}
.container .navbar-collapse ul li a {
  background: url("/sites/default/files/nav-background.png") no-repeat scroll 16px 14px rgba(0, 0, 0, 0);
  color: #282827;
  font-size: 13px;
  padding: 8px 17px 9px 24px;
}
.navbar-default {
  background: none;
  border: none;
}
.navbar-toggle {
  float: left;
  background-color: #000080;
}
.navbar-toggle a:hover {
  background: transparent !important;
}
.row {
  max-width: 1400px;
}
.collapse {
  margin-left: 10px;
}
#navbar {
  background-color: #64B8ED !important;
}
.navbar-collapse {
  width: 910px;
  outline: none;
}
.navbar-collapse ul li {
  font-size: 15px;
  margin-left: 0px;
  padding: 0px;
  padding-left: 0px;
  margin: auto;
}
.navbar-collapse ul a {
  color: #000000 !important;
}
.navbar-collapse ul a:hover {
  color: #ffffff !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
s #site-slogan:hover {
  color: #000000;
}
#site-slogan {
  color: #000000;
}
#site-name {
  color: #000000;
}
#site-name a:hover {
  color: #000000;
}
.navbar-text {
  font-size: 12px;
}
.navbar {
  border-radius: 0px;
}
.well {
  background-color: transparent;
  border: 0 solid #e3e3e3;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 0;
  min-height: 0;
  padding: 0;
}
#block-views-sections-block {
  border-bottom: 1px solid 	#53B0EB;
  background-color: #B4D6EC;
}
#block-views-sections-block h2 {
  background: url("/sites/default/files/diagonal.jpeg") repeat scroll right center rgba(0, 0, 0, 0);
  width: 50%;
  font-weight: 400 !important;
  font-size: 28px !important;
}
#block-views-sections-block ul {
  color: #1F86C4;
}
#block-views-sections-block ul li span a {
  color: #1F86C4;
  text-decoration: none;
  margin-left: 5px;
  font-weight: 400 !important;
  font-size: 13px !important;
}
#block-views-sections-block ul li span a:hover {
  color: #2f2cf5;
}
#block-views-sections-block ul li span a:focus {
  outline: none;
}
#block-views-chapters-block {
  border-bottom: 1px solid #53B0EB;
  background-color: #B4D6EC;
}
#block-views-chapters-block h2 {
  background: url("/sites/default/files/diagonal.jpeg") repeat scroll right center rgba(0, 0, 0, 0);
  width: 50%;
  margin-top: 0px !important;
  font-weight: 400 !important;
  font-size: 28px !important;
}
#block-views-chapters-block ul {
  color: #1F86C4;
}
#block-views-chapters-block ul li span a {
  color: #1F86C4;
  text-decoration: none;
  margin-left: 5px;
  font-weight: 400 !important;
  font-size: 13px !important;
}
#block-views-chapters-block ul li span a:hover {
  color: #2f2cf5;
}
#block-views-chapters-block ul li span a:focus {
  outline: none;
}
#block-views-topics-block {
  border-bottom: 1px solid #53B0EB;
  border-top: 1px solid #53B0EB;
  background-color: #B4D6EC;
}
#block-views-topics-block h2 {
  background: url("/sites/default/files/diagonal.jpeg") repeat scroll right center rgba(0, 0, 0, 0);
  width: 40%;
  margin-top: 0px !important;
  font-weight: 400 !important;
  font-size: 28px !important;
}
#block-views-topics-block ul {
  color: #1F86C4;
}
#block-views-topics-block ul li span a {
  color: #1F86C4;
  text-decoration: none;
  margin-left: 5px;
  font-weight: 400 !important;
  font-size: 13px !important;
}
#block-views-topics-block ul li span a:hover {
  color: #2f2cf5;
}
#block-views-topics-block ul li span a:focus {
  outline: none;
}
#block-block-16 {
  border-top: 1px solid #53B0EB;
  margin-top: 0px !important;
  margin-bottom: 0px;
  background-color: #B4D6EC;
}
#block-block-16 .social-icons ul {
  list-style-type: none;
}
#block-block-16 .social-icons a {
  color: #1F86C4;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
#block-block-16 .social-icons span {
  background: url("/sites/default/files/social-media.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  float: left;
  height: 17px;
  width: 16px;
}
#block-block-16 .social-icons .twitter {
  background-position: -50px 0;
}
#block-block-16 .social-icons .linkedin {
  background-position: -66px 0;
}
#block-block-16 .social-icons .facebook {
  background-position: -81px 0;
}
#block-block-16 .social-icons .mail {
  background-position: -98px 0;
}
#block-block-16 .social-icons .rss {
  background-position: -34px 0;
}
.region-sidebar-first {
  border-bottom: 2px solid #53B0EB !important;
  border-left: 1px solid #53B0EB !important;
  border-right: 1px solid #53B0EB !important;
  border-style: none;
  border-top: 2px solid #53B0EB !important;
  background-color: #e0f8ff;
}
.region-sidebar-second {
  border-bottom: 2px solid #53B0EB !important;
  border-left: 1px solid #53B0EB !important;
  border-right: 1px solid #53B0EB !important;
  border-style: none;
  border-top: 2px solid #53B0EB !important;
}
#block-views-topics-articles-block {
  background-color: #B4D6EC;
}
#block-views-topics-articles-block h2 {
  background: url("/sites/default/files/diagonal.jpeg") repeat scroll right center rgba(0, 0, 0, 0);
  margin-top: 0px;
  font-weight: 400 !important;
  font-size: 28px !important;
}
#block-views-topics-articles-block ol {
  color: #1F86C4;
}
#block-views-topics-articles-block ol li a {
  font-weight: 400;
  font-size: 13px !important;
  text-decoration: none;
  color: #1F86C4;
}
#block-views-topics-related-blocks-block {
  border-bottom: 1px solid #53B0EB;
  border-top: 2px solid #53B0EB;
  background-color: #B4D6EC;
}
#block-views-topics-related-blocks-block h2 {
  background: url("/sites/default/files/diagonal.jpeg") repeat scroll right center rgba(0, 0, 0, 0);
  margin-top: 0px;
  font-weight: 400 !important;
  font-size: 28px !important;
}
#block-views-topics-related-blocks-block ul {
  color: #1F86C4;
}
#block-views-topics-related-blocks-block ul li a {
  color: #1F86C4;
  font-weight: 400 !important;
  text-decoration: none;
}
#block-block-17 .nav-tabs {
  list-style-type: none;
  background: url("/sites/default/files/diagonal.jpeg") repeat scroll right center rgba(0, 0, 0, 0);
}
#block-block-17 .nav-tabs li a {
  font-weight: 400 !important;
  font-size: 15px !important;
  color: #000000;
}
#block-block-17 .nav-tabs a:focus {
  color: #1F86C4;
  background-color: transparent !important;
  border-color: transparent;
  border-style: none;
  border-width: 0px;
  cursor: default;
  outline: none;
}
#block-block-17 .nav-tabs a:hover {
  background: transparent !important;
}
#block-block-17 .tab-content {
  background-color: #ffffff;
  border-bottom: 1px solid #53B0EB !important;
  border-left: 1px solid #53B0EB !important;
  border-right: 1px solid #53B0EB !important;
  height: 400px;
  overflow-y: scroll;
  padding: 20px 15px;
  border-style: none;
  margin-top: -10px !important;
  border-top: none;
  font-weight: 400 !important;
  font-size: 13px !important;
}
#block-block-17 .tab-content #facebook {
  margin-left: -32px;
}
#block-block-17 .tab-content #twitter {
  margin-left: -30px;
}
#block-block-17 .tab-content ul {
  list-style-type: none;
}
#block-block-17 .tab-content ul li a {
  color: #1F86C4;
  text-decoration: none;
}
.jumbotron {
  background-color: transparent;
  margin-bottom: 0px;
  padding: 0px;
}
#block-easy-social-easy-social-block-1 {
  height: 80px;
  width: 70%;
  margin-bottom: 10px;
}
#block-system-main #node-35 h2 a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}
#block-system-main #node-35 span {
  color: #1F86C4;
}
#block-system-main .field-label {
  background-color: #B4D6EC;
}
#block-system-main .field-items {
  font-weight: 400;
  margin-bottom: 18px;
}
/*-- highlight theming --*/
#block-block-26 {
  margin-bottom: -18px;
}
#block-block-26 h2 {
  font-weight: 400;
  font-size: 18px;
  color: #1F86C4;
  margin-left: 0px;
}
#block-block-26 .social-list {
  list-style-type: none;
  font-size: 0px;
  float: right;
  padding-top: 0px;
  margin-top: -45px;
  margin-bottom: 0px;
  margin-right: -25px;
  margin-left: -30px;
  width: 100%;
  height: auto;
  display: inline-flex;
}
#block-block-26 .social-list .twitter {
  background: url("/sites/default/files/csg-53c9167ea4a57.png") repeat scroll 0px 151px rgba(0, 0, 0, 0);
  height: 85px;
  width: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#block-block-26 .social-list .facebook {
  background: url("/sites/default/files/csg-53c9167ea4a57.png") repeat scroll 0px -99px rgba(0, 0, 0, 0);
  height: 85px;
  width: 50px;
}
#block-block-26 .social-list .google-plus {
  background: url("/sites/default/files/csg-53c9167ea4a57.png") repeat scroll 0 -198px rgba(0, 0, 0, 0);
  height: 85px;
  width: 50px;
}
#block-block-26 .social-list .rss {
  background: url("/sites/default/files/csg-53c9167ea4a57.png") repeat scroll 0 -599px rgba(0, 0, 0, 0);
  height: 85px;
  width: 50px;
}
#block-block-26 .social-list .linkin {
  background: url("/sites/default/files/csg-53c9167ea4a57.png") repeat scroll 0 -299px rgba(0, 0, 0, 0);
  height: 85px;
  width: 50px;
}
/*----section thming ---*/
.col-sm-6 h1 {
  font-weight: 400;
  font-size: 22px !important;
}
.field-label a {
  font-size: 15px;
  font-weight: 400;
  color: #1F86C4;
}
.field-items a {
  color: #1F86C4;
  text-decoration: none;
}
/*---Media Query --*/
@media (max-width: 480px) {
  body {
    font-size: 10px;
  }
  .img-thumbnail {
    max-height: 100px;
    max-width: none;
    border: 0px !important;
    background-color: transparent;
    outline: none;
    padding: 0px;
  }
  .site-name {
    font-size: 24px !important;
  }
  #site-slogan {
    font-size: 18px !important;
  }
  #block-menu-menu-facebook {
    width: 20% !important;
    border: none;
  }
  #block-menu-menu-facebook ul {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border: none !important;
    overflow: auto;
  }
  #block-menu-menu-facebook ul .first {
    max-width: 100%;
    padding-left: 1px !important;
    margin-left: 5px !important;
  }
  #block-menu-menu-facebook ul .last {
    max-width: 100%;
    padding-right: 2px;
  }
  #block-menu-menu-userheads {
    width: 90% !important;
    border: none;
  }
  #block-menu-menu-userheads .nav {
    margin: 0 !important;
    border: none !important;
  }
  #block-menu-menu-userheads .nav li a {
    padding: 10px 5px;
    font-size: 10px !important;
  }
  .navbar-text {
    font-size: 12px;
    margin-left: 5px;
  }
  #block-system-main #node-35 h2 {
    font-weight: 200;
    font-size: 20px;
  }
  .region-sidebar-first {
    width: 100% !important;
  }
  #block-views-sections-block {
    width: 100%;
  }
  #block-views-chapters-block {
    width: 100%;
  }
  #block-views-topics-block {
    width: 100% !important;
  }
  #block-block-19 h4 {
    font-weight: 200;
    font-size: 20px;
  }
  #block-block-19 p {
    font-weight: 200;
    font-size: 14px;
  }
  #block-block-14 img {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .site-logo img {
    max-height: 100px;
    max-width: none;
    border: 0px !important;
    background-color: transparent;
    outline: none;
  }
  body {
    font-size: 15px;
  }
  .site-logo {
    display: table-cell;
    vertical-align: middle;
    border: 0px !important;
    background-color: transparent;
    outline: none;
  }
  #block-menu-menu-facebook {
    width: 16%;
    margin-left: -15px;
    display: inline-block !important;
    margin-right: none;
  }
  #block-menu-menu-facebook ul .first {
    max-width: 100%;
    font-size: 0px;
    padding-left: 1px;
    margin-left: 5px;
  }
  #block-menu-menu-facebook ul .last {
    max-width: 100%;
    font-size: 0px;
    padding-right: 2px;
  }
  #block-menu-menu-userheads {
    width: 90%;
    margin-right: -20px;
    border: none !important;
    display: inline-block !important;
  }
  #block-menu-menu-userheads .nav a {
    font-size: 10px;
  }
  #block-menu-menu-userheads .nav .leaf {
    padding-right: 3px;
  }
  .region-sidebar-first {
    width: 100%;
  }
  #block-views-sections-block {
    width: 100%;
  }
  #block-views-chapters-block {
    width: 100%;
  }
  #block-views-topics-block {
    width: 100%;
  }
  #block-block-14 img {
    width: 100% !important;
  }
}
.footer-bottom {
  margin: auto;
  width: 100%;
  max-width: 1150px;
  min-width: 350px;
  max-height: 1090px;
}
#footer-one,
#footer-two,
#footer-three {
  float: left;
  margin-top: -10px;
  margin-right: 0px;
  width: 309px;
}
#block-block-19 {
  margin-right: -10px;
}
#block-block-19 h4 {
  font-size: 18px;
  font-weight: 400;
  background-color: #000000;
  color: #b5b5b5;
  margin-left: 9px;
}
#block-block-19 p {
  font-weight: 400;
  font-size: 12px;
}
#block-block-20 {
  margin-right: 10px;
  margin-left: 50px;
}
#block-block-20 h4 {
  font-size: 18px;
  font-weight: 400;
  background-color: #000000;
  color: #b5b5b5;
}
#block-block-20 ol li a {
  text-decoration: none;
  color: #227d9a;
  font-weight: 400;
  font-size: 12px;
}
#block-block-20 ol a:hover {
  color: #00008b;
}
#block-block-22 {
  margin-left: 50px;
}
#block-block-22 h4 {
  background-color: #000000;
  font-size: 18px;
  font-weight: 400;
  color: #b5b5b5;
}
#block-block-22 .social-media {
  list-style-type: none;
  margin-top: 10px;
  height: auto;
}
#block-block-22 .social-media a {
  color: #227d9a;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
}
#block-block-22 .social-media a:focus {
  outline: none;
}
#block-block-22 .social-media span {
  background: url("/sites/default/files/csg-53ca37e114c57.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 32px;
  margin-right: 11px;
  width: 32px;
}
#block-block-22 .social-media .twitter {
  background-position: -246px 0;
}
#block-block-22 .social-media .linkedin {
  background-position: -165px 0;
}
#block-block-22 .social-media .facebook {
  background-position: -277px 0;
}
#block-block-22 .social-media .mail {
  background-position: -82px 0;
}
#copyright p {
  font-weight: 400;
  margin-bottom: 5px;
}
#copyright a {
  text-decoration: none;
  color: #227d9a;
}
