#header {
  color: #6c94be;
}
.ui-tabs .ui-tabs-nav li a {
  padding: 9px 36px 11px;
  font-size: 10px;
  font-weight: bold;
  display: block;
  background-color: #282827;
  border-left: 1px solid #444444;
  border-right: 1px solid #020202;
  color: #B5B5B5;
  text-transform: uppercase;
  margin: 0px;
  margin-right: -10px;
  position: relative;
}
.ui-tabs .ui-tabs-nav {
  margin: 0px;
  padding: 0px 0px;
}
.ui-widget-header {
  border: 0px;
}
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 14px;
}
a:hover,
a:focus {
  color: #2A6496;
  text-decoration: none;
}
.ui-widget-content a {
  color: #428BCA;
}
